{{>head}}
{{>topbar}}
{{>preloader}}
{{>sidebar}}
                    <div class="pcoded-content">
                        <!-- Page-header start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-8">
                                        <div class="page-header-title">
                                            <h5 class="m-b-10">Add New Category</h5>
                                            <p class="m-b-0">Add new Category at Dhakad Cinema's</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="breadcrumb-title">
                                            <li class="breadcrumb-item">
                                                <a href="index.html"> <i class="fa fa-home"></i> </a>
                                            </li>
                                            <li class="breadcrumb-item"><a href="#!">Categories</a>
                                            </li>
                                            <li class="breadcrumb-item"><a href="#!">Add New Category</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Page-header end -->
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <!-- Page-body start -->
                                    <div class="page-body">
                                        <!-- Row start -->
                                        <div class="row">
                                            <!-- Multiple Open Accordion start -->
                                            <div class="col-md-3">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>Add Category Details</h5>
                                                        <!--<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>-->
                                                    </div>
                                                    <div class="card-block">
                                                        <form class="form-material">
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <div class="form-group form-default">
                                                                        <input type="text" name="footer-email" class="form-control" required="">
                                                                        <span class="form-bar"></span>
                                                                        <label class="float-label">Category Title</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <div class="form-group form-default">
                                                                        <select name="select" class="form-control">
                                                                            <option value="Category Category">Category Status</option>
                                                                            <option value="Active">Active</option>
                                                                            <option value="Inactive">Inactive</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <button class="btn waves-effect waves-light btn-primary btn-block">Add Category</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                            </div>
                                            <!-- Multiple Open 6ccordion ends -->
                                        </div>
                                        <!-- Row end -->
                                    </div>
                                    <!-- Page-body end -->  
                                </div>
                            </div>
                        </div>
                        <div id="styleSelector">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{>footer}}