{{>head}}
{{>topbar}}
{{>preloader}}
{{>sidebar}}
                    <div class="pcoded-content">
                        <!-- Page-header start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-8">
                                        <div class="page-header-title">
                                            <h5 class="m-b-10">Add New Movie</h5>
                                            <p class="m-b-0">Add new movie at Dhakad Cinema's</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="breadcrumb-title">
                                            <li class="breadcrumb-item">
                                                <a href="index.html"> <i class="fa fa-home"></i> </a>
                                            </li>
                                            <li class="breadcrumb-item"><a href="#!">Movies</a>
                                            </li>
                                            <li class="breadcrumb-item"><a href="#!">Add New Movie</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Page-header end -->
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <!-- Page-body start -->
                                    <div class="page-body">
                                        <!-- Row start -->
                                        <div class="row">
                                            <!-- Multiple Open Accordion start -->
                                            <div class="col-md-1">
                                            </div>
                                            <div class="col-md-10">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>Add Movie Details</h5>
                                                        <!--<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>-->
                                                    </div>
                                                    <div class="card-block">
                                                        <form class="form-material">
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <div class="form-group form-default">
                                                                        <input type="text" name="footer-email" class="form-control" required="">
                                                                        <span class="form-bar"></span>
                                                                        <label class="float-label">Movie Title</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <div class="form-group form-default">
                                                                        <input type="text" name="footer-email" class="form-control" required="">
                                                                        <span class="form-bar"></span>
                                                                        <label class="float-label">Movie Link</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="form-group form-default">
                                                                        <input type="text" name="footer-email" class="form-control" required="">
                                                                        <span class="form-bar"></span>
                                                                        <label class="float-label">Trailer Link</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <div class="form-group form-default">
                                                                        <input id="appt-time" type="time" name="appt-time" step="2" class="form-control" required="">
                                                                        <span class="form-bar"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="form-group form-default">
                                                                        <select name="select" class="form-control">
                                                                            <option value="Movie Category">Movie Category</option>
                                                                            <option value="Romance">Romance</option>
                                                                            <option value="Drama">Drama</option>
                                                                            <option value="Comedy">Comedy</option>
                                                                            <option value="Horror">Horror</option>
                                                                            <option value="Thriller">Thriller</option>
                                                                            <option value="Crime">Crime</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <div class="form-group form-default">
                                                                        <select name="select" class="form-control">
                                                                            <option value="opt1">Select Languages</option>
                                                                            <option value="opt2">Hindi</option>
                                                                            <option value="opt3">English</option>
                                                                            <option value="opt4">Tamil</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="form-group form-default">
                                                                        <input type="text" name="footer-email" class="form-control" required="">
                                                                        <span class="form-bar"></span>
                                                                        <label class="float-label">Description</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <div class="form-group form-default">
                                                                        <input type="text" name="footer-email" class="form-control" required="">
                                                                        <span class="form-bar"></span>
                                                                        <label class="float-label">Movie Casts</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <div class="form-group form-default">
                                                                        <input type="text" name="footer-email" class="form-control" required="">
                                                                        <span class="form-bar"></span>
                                                                        <label class="float-label">Rent Price</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="form-group form-default">
                                                                        <input type="text" name="footer-email" class="form-control" required="">
                                                                        <span class="form-bar"></span>
                                                                        <label class="float-label">Tip Price</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <div class="form-group form-default">
                                                                       <label class="upload-btn">
                                                                        <input type="file" id="input-file" onchange="changeText()" />
                                                                        <span id="selectedFileName"><i class="ti-upload pr-2"></i>Upload Banner</span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <button class="btn waves-effect waves-light btn-primary btn-block">Add Movie</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                            </div>
                                            <!-- Multiple Open Accordion ends -->
                                        </div>
                                        <!-- Row end -->
                                    </div>
                                    <!-- Page-body end -->  
                                </div>
                            </div>
                        </div>
                        <div id="styleSelector">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{>footer}}