{{>head}}
{{>topbar}}
{{>preloader}}
{{>sidebar}}
                    <div class="pcoded-content">
                        <!-- Page-header start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-8">
                                        <div class="page-header-title">
                                            <h5 class="m-b-10">All Category</h5>
                                            <p class="m-b-0">All Category of Dhakad Cinema</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="breadcrumb-title">
                                            <li class="breadcrumb-item">
                                                <a href="index.html"> <i class="fa fa-home"></i> </a>
                                            </li>
                                            <li class="breadcrumb-item"><a href="#!">Category</a>
                                            </li>
                                            <li class="breadcrumb-item"><a href="#!">All Category</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Page-header end -->
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <!-- Page-body start -->
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>All Category</h5>
                                            <span>you can <code>edit and delete</code> Category from here</span>
                                        </div>
                                        <div class="card-block table-border-style">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Category Title</th>
                                                            <th>Category Status</th> 
                                                            <th>Edit</th>
                                                            <th>Delete</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">1</th>
                                                            <td>Otsto</td>
                                                            <td>Active</td>
                                                            <td><button class="btn btn-success waves-effect waves-light btn-block">Edit</button></td>
                                                            <td><button class="btn btn-danger waves-effect waves-light btn-block">Delete</button></td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">2</th>
                                                            <td>Jacob</td>
                                                            <td>Active</td>
                                                            <td><button class="btn btn-success waves-effect waves-light btn-block">Edit</button></td>
                                                            <td><button class="btn btn-danger waves-effect waves-light btn-block">Delete</button></td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">3</th>
                                                            <td>Larry</td>
                                                            <td>Inactive</td>
                                                            <td><button class="btn btn-success waves-effect waves-light btn-block">Edit</button></td>
                                                            <td><button class="btn btn-danger waves-effect waves-light btn-block">Delete</button></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Page-body end -->
                                </div>
                            </div>
                            <div id="styleSelector">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{>footer}}