          {{>head}}
          {{>topbar}}
          <style>
            .profile-pic {
            color: transparent;
            transition: all 0.3s ease;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            transition: all 0.3s ease;
            }
            .profile-pic input {
            display: none;
            }
            .profile-pic img {
            position: absolute;
            object-fit: cover;
            box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
            border-radius: 100px;
            z-index: 0;
            width: 80px;
            height: 80px;
            }
            .profile-pic .-label {
            cursor: pointer;
            height: 80px;
            width: 80px;
            }
            .profile-pic:hover .-label {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.8);
            z-index: 10000;
            color: #fafafa;
            transition: background-color 0.2s ease-in-out;
            border-radius: 100px;
            margin-bottom: 0;
            }
            .profile-pic span {
            display: inline-flex;
            padding: 0.2em;
            height: 2em;
            }
            label {
            display: inline-block;
            margin-bottom: 0px; 
            }

            body a:hover {
            text-decoration: none;
            }
            </style>
          {{>preloader}}
          {{>sidebar}}
                    <div class="pcoded-content">
                        <!-- Page-header start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-8">
                                        <div class="page-header-title">
                                            <h5 class="m-b-10">Add New Profile</h5>
                                            <p class="m-b-0">Add new Profile at Dhakad Cinema's</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="breadcrumb-title">
                                            <li class="breadcrumb-item">
                                                <a href="index.html"> <i class="fa fa-home"></i> </a>
                                            </li>
                                            <li class="breadcrumb-item"><a href="#!">Profile</a>
                                            </li>
                                            <li class="breadcrumb-item"><a href="#!">Profile Details</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Page-header end -->
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    
                                    <!-- Page-body start -->
                                    <div class="page-body">
                                        <!-- Row start -->
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="card">
                                                    <div class="card-header text-center">
                                                        <div class="profile-pic">
                                                            <label class="-label" for="file">
                                                                <span class="glyphicon glyphicon-camera"></span>
                                                                <span>Choose Image</span>
                                                            </label>
                                                            <input id="file" type="file" name="image"onchange="loadFile(event)"/>
                                                            <img class="img-radius mCS_img_loaded" src="/images/avatar-4.jpg" id="output" width="200" />
                                                        </div>
                                                        <h6 class="mt-3">John Doe</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>Your Profile</h5>
                                                    </div>
                                                    <div class="card-block">
                                                        <form class="form-material">
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <div class="form-group form-default">
                                                                        <input type="text" name="footer-email" class="form-control" required="">
                                                                        <span class="form-bar"></span>
                                                                        <label class="float-label">First Name</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="form-group form-default">
                                                                        <input type="text" name="footer-email" class="form-control" required="">
                                                                        <span class="form-bar"></span>
                                                                        <label class="float-label">Last Name</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <div class="form-group form-default">
                                                                        <input type="text" name="footer-email" class="form-control" required="">
                                                                        <span class="form-bar"></span>
                                                                        <label class="float-label">Email</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="form-group form-default">
                                                                        <input type="text" name="footer-email" class="form-control" required="">
                                                                        <span class="form-bar"></span>
                                                                        <label class="float-label">Phone No</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <div class="form-group form-default">
                                                                        <input type="text" name="footer-email" class="form-control" required="">
                                                                        <span class="form-bar"></span>
                                                                        <label class="float-label">Date Of Birth</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <select name="select" class="form-control">
                                                                        <option value="">Gender</option>
                                                                        <option value="male">Male</option>
                                                                        <option value="female">Female</option>
                                                                        <option value="other">Other</option>    
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <div class="form-group form-default">
                                                                        <input type="text" name="footer-email" class="form-control" required="">
                                                                        <span class="form-bar"></span>
                                                                        <label class="float-label">State</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="form-group form-default">
                                                                        <input type="text" name="footer-email" class="form-control" required="">
                                                                        <span class="form-bar"></span>
                                                                        <label class="float-label">Zip Code</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <div class="form-group form-default">
                                                                        <input type="text" name="footer-email" class="form-control" required="">
                                                                        <span class="form-bar"></span>
                                                                        <label class="float-label">Address</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <button class="btn waves-effect waves-light btn-primary btn-block">Update Profile</button>       
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Row end -->
                                    </div>
                                    <!-- Page-body end -->
                                </div>
                            </div>
                        <div id="styleSelector">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
          {{>footer}}