<!-- Required Jquery -->
    <script type="text/javascript" src="/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui/jquery-ui.min.js "></script>
    <script type="text/javascript" src="/js/popper.js/popper.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap/js/bootstrap.min.js "></script>
    <script type="text/javascript" src="/pages/widget/excanvas.js "></script>
    <!-- waves js -->
    <script src="/pages/waves/js/waves.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="/js/jquery-slimscroll/jquery.slimscroll.js "></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="/js/modernizr/modernizr.js "></script>
    <!-- slimscroll js -->
    <script type="text/javascript" src="/js/SmoothScroll.js"></script>
    <script src="/js/jquery.mCustomScrollbar.concat.min.js "></script>
    <!-- Chart js -->
    <script type="text/javascript" src="/js/chart.js/Chart.js"></script>
    <!-- amchart js -->
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="/pages/widget/amchart/gauge.js"></script>
    <script src="/pages/widget/amchart/serial.js"></script>
    <script src="/pages/widget/amchart/light.js"></script>
    <script src="/pages/widget/amchart/pie.min.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <!-- menu js -->
    <script src="/js/pcoded.min.js"></script>
    <script src="/js/vertical-layout.min.js "></script>
    <!-- custom js -->
    <script type="text/javascript" src="/pages/dashboard/custom-dashboard.js"></script>
    <script type="text/javascript" src="/js/script.js "></script>
    <script src="/js/dataController.js"></script>
</body>

</html>